.category-page {
  margin-top: 30px;
}
.category-page .category-page-title {
  font-size: 1.1rem;
}
.category-page .products-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  row-gap: 10px;
}
