.category-item {
  width: 200px;
  height: 50px;
  background-color: rgb(243, 244, 246);
  padding: 15px;
}

.category-item .title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.category-item .view-products {
  text-decoration: none;
  color: rgb(59, 130, 246);
  font-size: 1.1rem;
}
.category-item .view-products:hover {
  text-decoration: underline;
}
